@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;    
    background-color: #f4f4f4;
    color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

.container {
    width: 590px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header {
    padding: 15px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.title span {
    color: #4682a9;
    font-size: 30px;
}

.description {
    font-size: 15px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.input-control {
    width: 100%;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;    

}

::placeholder {
    color: #4682A9;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;  
}

.text-right {
    text-align: right;
    font-family: 'Poppins', sans-serif;    
}

.text-right button {
    font-family: 'Poppins', sans-serif;    

}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #fff;
    background-color: #4682A9;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-item a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}

.done {
    text-decoration: line-through;
    color: #ccc;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
  }